.text--weight100 {
  font-weight: 100;
}
.text--weight200 {
  font-weight: 200;
}
.text--weight300 {
  font-weight: 300;
}
.text--weight400 {
  font-weight: 400;
}
.text--weight500 {
  font-weight: 500;
}
.text--weight600 {
  font-weight: 600;
}
.text--weight700 {
  font-weight: 700;
}
